body{
    background-color:rgb(155, 227, 147);
}
#a{
    background-color: rgb(243, 248, 173);
    height: 400px;
    width: 400px;
    display: flex;
    text-align: center;
    font-size: 20px;
   align-items: center;
    border-radius: 100%;
    border:solid;
    border-color: rgb(245, 245, 137);
    margin: 10px;
}

#b{
    background-color: rgb(4, 213, 255);
    height: 400px;
    width: 
    400px;
    text-align: center;
    font-size:20px;
 border: solid 3px;
 border-color: aqua;
    border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
}
#o{
    display:flex;
    justify-content: wrap;
    align-items:wrap ;
    margin: 5px;
}
#one{
    border-radius: 60%;
    width: 300px;
    height: 300px;
    margin-left: 20%;
    transform: scale(-1, 1);
 } 
 #two{
    border-radius: 60%;
    width: 300px;
    height: 300px;
    margin-left: 10%;
   ;
 } 
 #w{
    background-color: aqua;
 }
 #c{
    background-color: rgb(255, 127, 191);
    width: 400px;
    height: 400px;
    border-radius: 100%;
    align-items: center;
    text-align: center;
    margin: 10px;
    justify-content: center;
    font-size: x-large;
    border: solid 3px palevioletred;
 }
 #teg{
    margin-top: 50px;
  
 }